/* Pygments: light */
pre { line-height: 125%; }
td.linenos .normal { color: #666666; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #666666; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hl .hll { background-color: #ffffcc }
.hl { background: #f0f0f0; }
.hl .c { color: #60a0b0; font-style: italic } /* Comment */
.hl .err { border: 1px solid #FF0000 } /* Error */
.hl .k { color: #007020; font-weight: bold } /* Keyword */
.hl .o { color: #666666 } /* Operator */
.hl .ch { color: #60a0b0; font-style: italic } /* Comment.Hashbang */
.hl .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.hl .cp { color: #007020 } /* Comment.Preproc */
.hl .cpf { color: #60a0b0; font-style: italic } /* Comment.PreprocFile */
.hl .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.hl .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.hl .gd { color: #A00000 } /* Generic.Deleted */
.hl .ge { font-style: italic } /* Generic.Emph */
.hl .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.hl .gr { color: #FF0000 } /* Generic.Error */
.hl .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.hl .gi { color: #00A000 } /* Generic.Inserted */
.hl .go { color: #888888 } /* Generic.Output */
.hl .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.hl .gs { font-weight: bold } /* Generic.Strong */
.hl .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.hl .gt { color: #0044DD } /* Generic.Traceback */
.hl .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.hl .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.hl .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.hl .kp { color: #007020 } /* Keyword.Pseudo */
.hl .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.hl .kt { color: #902000 } /* Keyword.Type */
.hl .m { color: #40a070 } /* Literal.Number */
.hl .s { color: #4070a0 } /* Literal.String */
.hl .na { color: #4070a0 } /* Name.Attribute */
.hl .nb { color: #007020 } /* Name.Builtin */
.hl .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.hl .no { color: #60add5 } /* Name.Constant */
.hl .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.hl .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.hl .ne { color: #007020 } /* Name.Exception */
.hl .nf { color: #06287e } /* Name.Function */
.hl .nl { color: #002070; font-weight: bold } /* Name.Label */
.hl .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.hl .nt { color: #062873; font-weight: bold } /* Name.Tag */
.hl .nv { color: #bb60d5 } /* Name.Variable */
.hl .ow { color: #007020; font-weight: bold } /* Operator.Word */
.hl .w { color: #bbbbbb } /* Text.Whitespace */
.hl .mb { color: #40a070 } /* Literal.Number.Bin */
.hl .mf { color: #40a070 } /* Literal.Number.Float */
.hl .mh { color: #40a070 } /* Literal.Number.Hex */
.hl .mi { color: #40a070 } /* Literal.Number.Integer */
.hl .mo { color: #40a070 } /* Literal.Number.Oct */
.hl .sa { color: #4070a0 } /* Literal.String.Affix */
.hl .sb { color: #4070a0 } /* Literal.String.Backtick */
.hl .sc { color: #4070a0 } /* Literal.String.Char */
.hl .dl { color: #4070a0 } /* Literal.String.Delimiter */
.hl .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.hl .s2 { color: #4070a0 } /* Literal.String.Double */
.hl .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.hl .sh { color: #4070a0 } /* Literal.String.Heredoc */
.hl .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.hl .sx { color: #c65d09 } /* Literal.String.Other */
.hl .sr { color: #235388 } /* Literal.String.Regex */
.hl .s1 { color: #4070a0 } /* Literal.String.Single */
.hl .ss { color: #517918 } /* Literal.String.Symbol */
.hl .bp { color: #007020 } /* Name.Builtin.Pseudo */
.hl .fm { color: #06287e } /* Name.Function.Magic */
.hl .vc { color: #bb60d5 } /* Name.Variable.Class */
.hl .vg { color: #bb60d5 } /* Name.Variable.Global */
.hl .vi { color: #bb60d5 } /* Name.Variable.Instance */
.hl .vm { color: #bb60d5 } /* Name.Variable.Magic */
.hl .il { color: #40a070 } /* Literal.Number.Integer.Long */
@media (prefers-color-scheme: dark) {
  pre { line-height: 125%; }
  td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
  span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
  td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
  span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
  .hl .hll { background-color: #49483e }
  .hl { background: #272822; color: #f8f8f2 }
  .hl .c { color: #959077 } /* Comment */
  .hl .err { color: #ed007e; background-color: #1e0010 } /* Error */
  .hl .esc { color: #f8f8f2 } /* Escape */
  .hl .g { color: #f8f8f2 } /* Generic */
  .hl .k { color: #66d9ef } /* Keyword */
  .hl .l { color: #ae81ff } /* Literal */
  .hl .n { color: #f8f8f2 } /* Name */
  .hl .o { color: #ff4689 } /* Operator */
  .hl .x { color: #f8f8f2 } /* Other */
  .hl .p { color: #f8f8f2 } /* Punctuation */
  .hl .ch { color: #959077 } /* Comment.Hashbang */
  .hl .cm { color: #959077 } /* Comment.Multiline */
  .hl .cp { color: #959077 } /* Comment.Preproc */
  .hl .cpf { color: #959077 } /* Comment.PreprocFile */
  .hl .c1 { color: #959077 } /* Comment.Single */
  .hl .cs { color: #959077 } /* Comment.Special */
  .hl .gd { color: #ff4689 } /* Generic.Deleted */
  .hl .ge { color: #f8f8f2; font-style: italic } /* Generic.Emph */
  .hl .ges { color: #f8f8f2; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
  .hl .gr { color: #f8f8f2 } /* Generic.Error */
  .hl .gh { color: #f8f8f2 } /* Generic.Heading */
  .hl .gi { color: #a6e22e } /* Generic.Inserted */
  .hl .go { color: #66d9ef } /* Generic.Output */
  .hl .gp { color: #ff4689; font-weight: bold } /* Generic.Prompt */
  .hl .gs { color: #f8f8f2; font-weight: bold } /* Generic.Strong */
  .hl .gu { color: #959077 } /* Generic.Subheading */
  .hl .gt { color: #f8f8f2 } /* Generic.Traceback */
  .hl .kc { color: #66d9ef } /* Keyword.Constant */
  .hl .kd { color: #66d9ef } /* Keyword.Declaration */
  .hl .kn { color: #ff4689 } /* Keyword.Namespace */
  .hl .kp { color: #66d9ef } /* Keyword.Pseudo */
  .hl .kr { color: #66d9ef } /* Keyword.Reserved */
  .hl .kt { color: #66d9ef } /* Keyword.Type */
  .hl .ld { color: #e6db74 } /* Literal.Date */
  .hl .m { color: #ae81ff } /* Literal.Number */
  .hl .s { color: #e6db74 } /* Literal.String */
  .hl .na { color: #a6e22e } /* Name.Attribute */
  .hl .nb { color: #f8f8f2 } /* Name.Builtin */
  .hl .nc { color: #a6e22e } /* Name.Class */
  .hl .no { color: #66d9ef } /* Name.Constant */
  .hl .nd { color: #a6e22e } /* Name.Decorator */
  .hl .ni { color: #f8f8f2 } /* Name.Entity */
  .hl .ne { color: #a6e22e } /* Name.Exception */
  .hl .nf { color: #a6e22e } /* Name.Function */
  .hl .nl { color: #f8f8f2 } /* Name.Label */
  .hl .nn { color: #f8f8f2 } /* Name.Namespace */
  .hl .nx { color: #a6e22e } /* Name.Other */
  .hl .py { color: #f8f8f2 } /* Name.Property */
  .hl .nt { color: #ff4689 } /* Name.Tag */
  .hl .nv { color: #f8f8f2 } /* Name.Variable */
  .hl .ow { color: #ff4689 } /* Operator.Word */
  .hl .pm { color: #f8f8f2 } /* Punctuation.Marker */
  .hl .w { color: #f8f8f2 } /* Text.Whitespace */
  .hl .mb { color: #ae81ff } /* Literal.Number.Bin */
  .hl .mf { color: #ae81ff } /* Literal.Number.Float */
  .hl .mh { color: #ae81ff } /* Literal.Number.Hex */
  .hl .mi { color: #ae81ff } /* Literal.Number.Integer */
  .hl .mo { color: #ae81ff } /* Literal.Number.Oct */
  .hl .sa { color: #e6db74 } /* Literal.String.Affix */
  .hl .sb { color: #e6db74 } /* Literal.String.Backtick */
  .hl .sc { color: #e6db74 } /* Literal.String.Char */
  .hl .dl { color: #e6db74 } /* Literal.String.Delimiter */
  .hl .sd { color: #e6db74 } /* Literal.String.Doc */
  .hl .s2 { color: #e6db74 } /* Literal.String.Double */
  .hl .se { color: #ae81ff } /* Literal.String.Escape */
  .hl .sh { color: #e6db74 } /* Literal.String.Heredoc */
  .hl .si { color: #e6db74 } /* Literal.String.Interpol */
  .hl .sx { color: #e6db74 } /* Literal.String.Other */
  .hl .sr { color: #e6db74 } /* Literal.String.Regex */
  .hl .s1 { color: #e6db74 } /* Literal.String.Single */
  .hl .ss { color: #e6db74 } /* Literal.String.Symbol */
  .hl .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
  .hl .fm { color: #a6e22e } /* Name.Function.Magic */
  .hl .vc { color: #f8f8f2 } /* Name.Variable.Class */
  .hl .vg { color: #f8f8f2 } /* Name.Variable.Global */
  .hl .vi { color: #f8f8f2 } /* Name.Variable.Instance */
  .hl .vm { color: #f8f8f2 } /* Name.Variable.Magic */
  .hl .il { color: #ae81ff } /* Literal.Number.Integer.Long */
}
